.navbar-brand{
	color: #FF3800 !important;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 2.5em;
	font-family: 'Lobster', cursive;
}

.nav{
	li{
		letter-spacing: 0.1em;
		a{
			color: #333 !important;
			text-align: center;
			font-size: 1.5em;
			padding-top: 1em;
			padding-bottom: 1em;
		}
	}
}

@media screen and (min-width: 768px){
	.nav{
		float: right;
	}
}